@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Syne+Mono&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url(assets/bg-moon.png);
    background-repeat: none;
    background-size: cover;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-size: 2rem;
}

p, label, button {
    font-family:  'Open Sans', sans-serif;;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-top: 10rem;
    background-color: white;
    padding: 3rem;
    animation-name: slide-down;
    animation-duration: 2s;
}

#container-input {
    display: none;    
    
}

#answer-input {
    padding: 0.4rem;
    width: 15rem;
    margin: 1rem 1rem;
}

.monster-pic {
   margin: -1rem 2rem 0 -2rem;
   align-self: right; 
}


button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-weight: 700;
    background-color: #12335a;
    border: none;
    border-radius: 0;
    color: white;
    font-size: 1.1rem;
}

#fight {
    background-color: red;
}

#restart {
    background-color: black;
}

button:hover {
    background-color: #001227;
    cursor: pointer;
}

i {
    margin-left: 1rem;
}

@keyframes slide-down {
    from {
        margin-left:-30%
    }
    to {
        margin-left: 0%;
    }
}